<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Xvr7+LUDZ2O6T9w+lDgOl8s9OMxIbb5vKv7KB8RtkTGKbi2IKbRSMx9VLfRUTI3tL4+acDbkAowwt9QIa/9aHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/StyleSheet.css" rel="stylesheet"/>
    <script src="~/jquery/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.min.js" integrity="sha512-ewfXo9Gq53e1q1+WDTjaHAGZ8UvCWq0eXONhwDuIoaH8xz2r96uoAYaQCm1oQhnBfRXrvJztNXFsTloJfgbL5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<body class="bg-light">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" data-bs-toggle="collapse" type="button" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">
			<img src="/images/logoentreprise.png" width="70" height="40" alt="">
		</a>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a asp-action="Index" asp-controller="PagePrincipale" class="nav-link">Accueil</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Client</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a asp-action="ListeClients" asp-controller="Client" class="dropdown-item">Liste</a>
						@if (User.IsInRole("Admin")){
                        <a asp-action="Ajouter" asp-controller="Client" class="dropdown-item">Ajouter</a>
                        }
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Voiture</a>
					<div class="dropdown-menu bg-dark">
						<a asp-action="ListeVoitures" asp-controller="Voiture" class="dropdown-item text-white">Liste</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Ajouter" asp-controller="Voiture" class="dropdown-item text-white">Ajouter</a>
                        }
                    </div>
				</li>
                <li class="nav-item active">
                    <a asp-action="AfficherLocation" asp-controller="Location" class="nav-link">Locations</a>
                </li>
				<li class="nav-item active">
					<a asp-action="AfficherPanier" asp-controller="Panier" class="nav-link">Panier de location</a>
				</li>
			</ul>
            
		</div>
        <div class="ml-auto">
            <partial name="_LoginPartial" />
        </div>
	</nav>
   
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="container-fluid bg-dark text-light py-3 sticky-footer">
    <div class="row">
        <div class="col-md-4 text-center text-md-start">
            <a href="/" class="text-light text-decoration-none">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    <span class="ms-2">Location'Express</span>
            </a>
        </div>
        <div class="col-md-4 text-center text-md-start">
            <ul class="list-inline">
                <li class="list-inline-item"><a asp-action="Index" asp-controller="PagePrincipale" class="text-light text-decoration-none">Accueil</a></li>
                <li class="list-inline-item"><a asp-action="ListeVoitures" asp-controller="Voiture" class="text-light text-decoration-none">Véhicules</a></li>
                <li class="list-inline-item"><a asp-action="ListeClients" asp-controller="Client" class="text-light text-decoration-none">Clients</a></li>
				<li class="list-inline-item">
					<a href="#" class="text-light text-decoration-none" data-bs-toggle="modal" data-bs-target="#modalApropos">À propos</a>
				</li>
                <li class="list-inline-item"><a href="#" class="text-light text-decoration-none">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-4 text-center text-md-end">
                <span class="text-muted">© 2023 - Tous droits réservés - Location'Express</span>
        </div>
    </div>
</footer>
    <!-- Modal à propos -->
    <div class="modal fade" id="modalApropos" tabindex="-1" aria-labelledby="modalaproposLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalaproposLabel">À propos de notre entreprise</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <p>Notre histoire commence il y a plusieurs années avec un passionné d'automobile, Philippe. Il a partagé une vision commune : créer une entreprise qui se démarque dans l'industrie de la location de voitures en offrant des services de qualité supérieure et une expérience exceptionnelle aux clients. C'est ainsi que Location'Express est né.</p>
                <p>Depuis nos modestes débuts, nous avons parcouru un long chemin pour devenir l'une des principales entreprises de location de voitures de la région. Nous sommes fiers de notre flotte diversifiée de véhicules modernes et bien entretenus, allant des voitures économiques aux véhicules haut de gamme, en passant par les VUS spacieux. Quelle que soit votre préférence, nous avons le véhicule idéal pour vous accompagner lors de vos aventures.</p>
                <p>Chez Location'Express, nous mettons un point d'honneur à offrir un service client exceptionnel. Notre équipe amicale et professionnelle est là pour vous guider à chaque étape du processus de location. Nous nous engageons à rendre votre expérience aussi fluide que possible, en vous offrant la flexibilité nécessaire pour répondre à vos besoins spécifiques.</p>
                <p>Explorez notre site pour découvrir notre gamme de véhicules, nos tarifs compétitifs et nos offres spéciales. Réservez en ligne en quelques clics et profitez d'un processus de réservation simple et sécurisé. Nous nous occupons du reste afin que vous puissiez vous concentrer sur votre voyage en toute sérénité.</p>
                <p>Lorsque vous choisissez Location'Express, vous choisissez la tranquillité d'esprit, la qualité et l'excellence. Faites-nous confiance pour rendre votre expérience de location de voiture inoubliable.</p>
                <p>Bienvenue chez Location'Express - Où votre voyage commence avec assurance !</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("JQueryValidationScripts", required: false)
    @RenderSection("ScriptAPI", required: false)
    @RenderSection("Scripts", required:false)
</body>
</html>