﻿@model ErreurViewModel

@{
    ViewData["Titre"] = "Page d'erreur";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="alert alert-danger text-center">
        <h1>Erreur @Model.CodeErreur</h1>
        <p>Message d'erreur : @Model.ErrorMsg</p>
    </div>
</div>

@if (Model.ModeDev)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="alert alert-danger text-center">
            <h5>Exception Path</h5>
            <hr />
            <p>
                @Model.CheminException
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="alert alert-danger text-center">
            <h5>Exception message</h5>
            <hr />
            <p>
                @Model.MessageException
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="alert alert-danger text-center">
            <h5>Exception Stack Trace</h5>
            <hr />
            <p>
                @Model.TraceException
            </p>
        </div>
    </div>
}