﻿body {
}
.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px; 
}

.img{
    height:375px;
    width:100%;
}

/* Le style des cartes est tiré de : https://codepen.io/nbheemanathi/full/rwQZVQ*/
.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 25px;
    transition: 1s;
    cursor: pointer;
}

.card-title i {
font-size: 15px;
transition: 1s;
cursor: pointer;
color: #ffa710
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-text {
    height: 30px;
    margin-bottom: 10px;
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}