@model Voiture
@section JQueryValidationScripts {
    <partial name="_ValidationScriptsPartial" />
  }

<script src="~/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@{
    ViewData["Titre"] = "Ajouter une voiture";
}

<div class="container">
    <h1 class="text-center">@ViewData["Titre"]</h1>
    <form asp-controller="Voiture" asp-action="AjouterVoiture" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Marque">Marque :</label>
                    <input asp-for="Marque" type="text" class="form-control" placeholder="Entrez la marque de la voiture">
                    <span asp-validation-for="Marque" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Modele">Modèle :</label>
                    <input asp-for="Modele" type="text" class="form-control" placeholder="Entrez le modèle de la voiture">
                    <span asp-validation-for="Modele" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Couleur">Couleur :</label>
                    <input asp-for="Couleur" type="text" class="form-control" placeholder="Entrez la couleur de la voiture">
                    <span asp-validation-for="Couleur" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnneeFabrication">Année de fabrication :</label>
                    <input asp-for="AnneeFabrication" type="number" class="form-control" placeholder="Entrez l'année de fabrication de la voiture">
                    <span asp-validation-for="AnneeFabrication" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CapaciteMax">Capacité maximale :</label>
                    <input asp-for="CapaciteMax" type="number" class="form-control" placeholder="Entrez la capacité maximale de la voiture">
                    <span asp-validation-for="CapaciteMax" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="Image">Image :</label>
                    <input asp-for="Image" type="file" class="form-control-file">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreFoisLocation">Nombre de fois louée :</label>
                    <input asp-for="NombreFoisLocation" value="0" type="number" class="form-control" disabled>
                    <span asp-validation-for="NombreFoisLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrixParHeure">Prix par heure :</label>
                    <input asp-for="PrixParHeure" type="number" step="1" class="form-control" placeholder="Entrez le prix par heure de location de la voiture">
                    <span asp-validation-for="PrixParHeure" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-primary">Ajouter</button>
        </div>
    </form>
</div>