@model List<Voiture>

@{
    ViewData["Titre"] = "Liste des véhicules disponibles";
}

<div class="container" style="max-height: 80vh; overflow-y: auto;">
    <div class="text-center">
        <h1 class="display-4">@ViewData["Titre"]</h1>
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Voiture" asp-action="Ajouter" class="btn btn-primary mt-3">Ajouter une voiture</a>
        }
    </div>

    <div class="row">
        @foreach (var voiture in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@Url.Action("GetImage", "Fichier", new { cheminImage = voiture.UrlImage })" class="card-img-top" alt="Photo du véhicule">
                    <div class="card-body">
                        <h5 class="card-title">@voiture.Marque @voiture.Modele</h5>
                        <p class="card-text">Couleur: @voiture.Couleur</p>
                        <p class="card-text">Année de fabrication: @voiture.AnneeFabrication</p>
                        <p class="card-text">Capacité max: @voiture.CapaciteMax</p>
                        <hr>
                        <div>
                            <a class="btn btn-outline-success card text-center" data-toggle="modal" data-target="#modalInfosCompletes_@voiture.Id">Informations complètes</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-outline-danger mt-3 card text-center" data-toggle="modal" data-target="#modalSupprimer_@voiture.Id">Supprimer</a>
                                    <a class="btn btn-outline-warning mt-3 card text-center" asp-controller="Voiture" asp-action="Modifier" asp-route-id="@voiture.Id">Modifier</a>
                                </div>
                            }
                            @if (User.IsInRole("Client"))
                            {
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Panier" asp-action="AjouterAuPanier" asp-route-vehiculeId="@voiture.Id" type="button" class="btn btn-outline-info mt-3 card text-center">Ajouter au panier</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de confirmation de suppression -->
            <div class="modal fade" id="modalSupprimer_@voiture.Id" tabindex="-1" aria-labelledby="modalSupprimerLabel_@voiture.Id" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalSupprimerLabel_@voiture.Id">Confirmation de suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous sûr de vouloir supprimer ce véhicule ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <a class="btn btn-danger" asp-controller="Voiture" asp-action="Supprimer" asp-route-id="@voiture.Id">Confirmer</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @foreach (var voiture in Model)
    {
        <div class="modal fade" id="modalInfosCompletes_@voiture.Id" tabindex="-1" aria-labelledby="modalInfosCompletesLabel_@voiture.Id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalInfosCompletesLabel_@voiture.Id">Informations complètes de la voiture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="@Url.Action("GetImage", "Fichier", new { cheminImage = voiture.UrlImage })" class="card-img-top" alt="Photo du client">
                            </div>
                            <div class="col-md-6">
                                <p><strong>Marque :</strong> @voiture.Marque</p>
                                <p><strong>Modèle :</strong> @voiture.Modele</p>
                                <p><strong>Couleur :</strong> @voiture.Couleur</p>
                                <p><strong>Année de fabrication :</strong> @voiture.AnneeFabrication</p>
                                <p><strong>Capacité passagés :</strong> @voiture.CapaciteMax</p>
                                <p><strong>Nombre de location :</strong> @voiture.NombreFoisLocation</p>
                                <p><strong>Prix par heure :</strong> @voiture.PrixParHeure $</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>