﻿@model PagePrincipaleViewModel

@{
    ViewData["H1"] = "Bienvenue chez Location'Express";
    ViewData["H2"] = "Découvrez nos voitures populaires du mois !";
}

<h1 class="d-flex justify-content-center">@ViewData["H1"]</h1>

<h2 class="d-flex justify-content-center">@ViewData["H2"]</h2>

<div class="container" style="max-height: 80vh; overflow-y: auto;">
    <div class="row">
        @foreach (var voiture in Model.VoituresPopulaire.Take(2))
        {
            <div class="col-md-6">
                <div class="card card-custom mb-4">
                    <img src="@Url.Action("GetImage", "Fichier", new { cheminImage = voiture.UrlImage })" class="card-img-top" alt="Photo du client">
                    <div class="card-body">
                        <h5 class="card-title">@voiture.Marque</h5>
                        <p class="card-text">Modèle: @voiture.Modele</p>
                        <p class="card-text">Nombre de Locations: @voiture.NombreFoisLocation</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        @foreach (var voiture in Model.VoituresPopulaire.Skip(2).Take(2))
        {
            <div class="col-md-6">
                <div class="card card-custom mb-4">
                    <img src="@Url.Action("GetImage", "Fichier", new { cheminImage = voiture.UrlImage })" class="card-img-top" alt="Photo du client">
                    <div class="card-body">
                        <h5 class="card-title">@voiture.Marque</h5>
                        <p class="card-text">Modèle: @voiture.Modele</p>
                        <p class="card-text">Nombre de Locations: @voiture.NombreFoisLocation</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row mb-5">
        @foreach (var voiture in Model.VoituresPopulaire.Skip(4).Take(2))
        {
            <div class="col-md-6">
                <div class="card card-custom mb-4">
                    <img src="@Url.Action("GetImage", "Fichier", new { cheminImage = voiture.UrlImage })" class="card-img-top img" alt="Photo du client">
                    <div class="card-body">
                        <h5 class="card-title">@voiture.Marque</h5>
                        <p class="card-text">Modèle: @voiture.Modele</p>
                        <p class="card-text">Nombre de Locations: @voiture.NombreFoisLocation</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
