﻿@model PanierViewModel

<div class="container">
    <h1 class="text-center my-5">Panier des voitures</h1>

    @if (Model.ListeVoituresPanier.Count() != 0)
    {
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Marque</th>
                                    <th scope="col">Modèle</th>
                                    <th scope="col">Nombre d'heures</th>
                                    <th scope="col">Prix unitaire</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var voiture in Model.ListeVoituresPanier)
                                {
                                    <tr>
                                        <td>@voiture.Voiture.Marque</td>
                                        <td>@voiture.Voiture.Modele</td>
                                        <td>@voiture.DureeLocation</td>
                                        <td>@voiture.Voiture.PrixParHeure $/heure</td>
                                        <td>@(voiture.Voiture.PrixParHeure * voiture.DureeLocation) $</td>
                                        <td>
                                            <form method="post" action="@Url.Action("AjouterAuPanier", "Panier", new { vehiculeId = voiture.Voiture.Id })">
                                                <button type="submit" class="btn btn-outline-success btn-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                                     </svg>
                                                </button>
                                            </form>
                                            <form method="post" action="@Url.Action("SupprimerDuPanier", "Panier", new { vehiculeId = voiture.Voiture.Id })">
                                                <button type="submit" class="btn btn-outline-warning btn-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                                                           <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
                                                     </svg>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Total :</strong></td>
                                    <td><strong>@Model.MontantTotal.ToString("N2") $</strong></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <form method="post" action="@Url.Action("ViderPanier", "Panier")">
                        <button type="submit" class="btn btn-danger">Vider le panier</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info text-center mt-4" role="alert">
            Votre panier est vide!
        </div>
    }
</div>