﻿@model string

<h2>Créer un rôle</h2>

<form asp-action="Creer" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>Nom:</label>
        <input type="text" name="nom" value="@Model" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
</form>

