﻿@model IEnumerable<IdentityRole>

<h2>Rôles</h2>

<p>
    <a asp-action="Creer">Créer un nouveau rôle</a>
</p>
<div asp-validation-summary="All" class="text-danger"></div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a asp-action="ModifierRoleUsager" asp-route-id="@role.Id" class="btn btn-primary">Voir des usagers</a>
                        <a asp-action="Supprimer" asp-route-id="@role.Id" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>