﻿@model RoleMembresViewModel

<h4 class="mb-4">Cliquez sur l'usager pour changer son rôle : @Model.Role.Name</h4>

<div class="row">
    <div class="col-md-6">
        <h5>Usagers membres du rôle :</h5>
        <ul class="list-group">
            @foreach (var user in Model.Membres)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <form method="post" asp-action="ModifierRoleUsager">
                        <input type="hidden" name="roleId" value="@Model.Role.Id" />
                        <input type="hidden" name="userId" value="@user.Id" />
                        <input type="hidden" name="modif" value="-1" />
                        <button type="submit" class="btn btn-danger">@user.UserName</button>
                    </form>
                </li>
            }
            @if (Model.Membres.Count == 0)
            {
                <li class="list-group-item text-muted">Aucun usager membre</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h5>Usagers non-membres :</h5>
        <ul class="list-group">
            @foreach (var user in Model.NonMembres)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <form method="post" asp-action="ModifierRoleUsager" asp-route-id="@user.Id">
                        <input type="hidden" name="roleId" value="@Model.Role.Id" />
                        <input type="hidden" name="userId" value="@user.Id" />
                        <input type="hidden" name="modif" value="1" />
                        <button type="submit" class="btn btn-primary">@user.UserName</button>
                    </form>
                </li>
            }
            @if (Model.NonMembres.Count == 0)
            {
                <li class="list-group-item text-muted">Aucun usager non-membre</li>
            }
        </ul>
    </div>
</div>