@model Client
@section JQueryValidationScripts {
    <partial name="_ValidationScriptsPartial" />
  }
@{
    ViewData["Titre"] = "Ajouter un client";
}

<div class="container">
    <h1 class="text-center">@ViewData["Titre"]</h1>

    <form asp-controller="Client" asp-action="AjouterClient" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Nom">Nom :</label>
                    <input asp-for="Nom" type="text" class="form-control" placeholder="Entrez le nom du client">
                    <span asp-validation-for="Nom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prenom">Prénom :</label>
                    <input asp-for="Prenom" type="text" class="form-control" placeholder="Entrez le prénom du client">
                    <span asp-validation-for="Prenom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adresse">Adresse :</label>
                    <input asp-for="Adresse" type="text" class="form-control" placeholder="Entrez l'adresse du client">
                    <span asp-validation-for="Adresse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genre">Genre :</label>
                    <select asp-for="Genre" class="form-control">
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                        <option value="Autre">Autre</option>
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Telephone">Téléphone :</label>
                    <input asp-for="Telephone" type="text" class="form-control" placeholder="Entrez le numéro de téléphone">
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroPermis">Numéro de permis :</label>
                    <input asp-for="NumeroPermis" type="text" class="form-control" placeholder="Entrez le numéro de permis">
                    <span asp-validation-for="NumeroPermis" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="Photo">Photo :</label>
                    <input asp-for="Photo" type="file" class="form-control-file">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-primary">Ajouter</button>
        </div>
    </form>
</div>
