﻿@model List<Client>

@{
    ViewData["Titre"] = "Liste des clients";
}

<div class="container" style="max-height: 80vh; overflow-y: auto;">
    <div class="text-center">
        <h1 class="display-4">@ViewData["Titre"]</h1>
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Client" asp-action="Ajouter" class="btn btn-primary mt-3">Ajouter un client</a>
        }
    </div>
    <div class="row">
    <div class="col-md-4 mt-4">
        <div class="form-group">
            <select id="selectTri" class="form-control">
                <option value="Prénom Ordre">Prénom (ordre)</option>
                <option value="Nom Ordre">Nom (ordre)</option>
                <option value="Prénom Non-Ordre">Prénom (désorde)</option>
                <option value="Nom Non-Ordre">Nom (désordre)</option>
                    @if (User.IsInRole("Admin"))
                    {
                        <option value="ID">ID</option>
                    }                   
            </select>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <button id="boutonTri" class="btn btn-outline-primary">Trier</button>
    </div>
</div>
</div>

    <div class="row" id="conteneur-clients">
        @foreach (var client in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@Url.Action("GetImage", "Fichier", new { cheminImage = client.urlPhoto })" class="card-img-top" alt="Photo du client">
                    <div class="card-body">
                        <h5 class="card-title">@client.Prenom @client.Nom</h5>
                    @if (User.IsInRole("Admin")){
                        <p class="card-text">@client.Adresse</p>
                        <p class="card-text">@client.Telephone</p>
                    }
                        <hr>
                        <div>
                            <a class="btn btn-outline-success card text-center" data-toggle="modal" data-target="#modalInfosCompletes_@client.Id">Informations complètes</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-outline-danger mt-3 card text-center" data-toggle="modal" data-target="#modalSupprimer_@client.Id">Supprimer</a>
                                <a class="btn btn-outline-warning mt-3 card text-center" asp-controller="Client" asp-action="Modifier" asp-route-id=@client.Id>Modifier</a>
                            </div> 
                        }
                        </div>
                        

                </div>
                </div>
            </div>
        }
    </div>

    <div class="text-center">
        <a asp-controller="Client" asp-action="Ajouter" class="btn btn-primary">Ajouter un client</a>
    </div>
    @foreach (var client in Model)
    {
        <div class="modal fade" id="modalSupprimer_@client.Id" tabindex="-1" aria-labelledby="modalSupprimerLabel_@client.Id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalSupprimerLabel_@client.Id">Confirmation de suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous sûr de vouloir supprimer ce client ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-danger" asp-controller="Client" asp-action="Supprimer" asp-route-id="@client.Id">
                            <span class="btn-text">Confirmer</span>
                            <span class="btn-icon d-none"><i class="fa fa-trash"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    @foreach (var client in Model)
    {
        <div class="modal fade" id="modalInfosCompletes_@client.Id" tabindex="-1" aria-labelledby="modalInfosCompletesLabel_@client.Id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalInfosCompletesLabel_@client.Id">Informations complètes du client</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="@Url.Action("GetImage", "Fichier", new { cheminImage = client.urlPhoto })" class="card-img-top" alt="Photo du client">
                            </div>
                            <div class="col-md-6">
                                <p><strong>Nom :</strong> @client.Nom</p>
                                <p><strong>Prénom :</strong> @client.Prenom</p>
                                <p><strong>Genre :</strong> @client.Genre</p>
                            @if (User.IsInRole("Admin"))
                            {
                                <p><strong>Adresse :</strong> @client.Adresse</p>
                                <p><strong>Téléphone :</strong> @client.Telephone</p>
                                <p><strong>Numéro de permis :</strong> @client.NumeroPermis</p>
                            }
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    }
@section ScriptAPI{
    <script src="~/js/TrierClient.js" asp-append-version="true"></script>
}
