﻿@model Client
@section JQueryValidationScripts {
    <partial name="_ValidationScriptsPartial" />
  }
<script src="~/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@{
    ViewData["Titre"] = "Modifier un client";
}

<div class="container">
    <h1 class="text-center">@ViewData["Titre"]</h1>

    <form asp-controller="Client" asp-action="ModifierClient" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input asp-for="Id" type="hidden" class="form-control" required>
                </div>
                <div class="form-group">
                    <label asp-for="Nom">Nom :</label>
                    <input asp-for="Nom" type="text" class="form-control" required>
                    <span asp-validation-for="Nom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prenom">Prénom :</label>
                    <input asp-for="Prenom" type="text" class="form-control" required>
                    <span asp-validation-for="Prenom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adresse">Adresse :</label>
                    <input asp-for="Adresse" type="text" class="form-control" required>
                    <span asp-validation-for="Adresse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genre">Genre :</label>
                    <select asp-for="Genre" class="form-control" required>
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                        <option value="Autre">Autre</option>
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Telephone">Téléphone :</label>
                    <input asp-for="Telephone" type="text" class="form-control" required>
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="NumeroPermis">Numéro de permis :</label>
                    <input id="NumeroPermis" name="NumeroPermis" type="text" class="form-control" required>
                </div>
                <div class="form-group mt-4">
                    <label asp-for="Photo">Photo :</label>
                    <input asp-for="Photo" type="file" class="form-control-file">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-outline-warning mt-4">Modifier</button>
        </div>
    </form>
</div>


