﻿@model LocationViewModel
@{
    ViewData["Title"] = "Historique des locations";
}

    <div class="container vh-100">
        <div class="text-center">
            <h1 class="display-4">@ViewData["Title"]</h1>
        </div>
        @if (Model.ListeLocations.Count() != 0)
        {
        <div class="row">
            @foreach (var location in Model.ListeLocations)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@Url.Action("GetImage", "Fichier", new { cheminImage = location.Voiture.UrlImage })" class="card-img-top" alt="Photo du client">
                        <div class="card-body">
                            <h5 class="card-title">@location.Voiture.Marque @location.Voiture.Modele</h5>
                            <p class="card-text">Date de début location : @Model.Datedebut</p>
                            <p class="card-text">Prix total : @(
                        location.Voiture.PrixParHeure * location.DureeLocation
                        ) $</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        }
    else
    {
        <div class="alert alert-info text-center mt-4" role="alert">
                L'historique des locations est présentement vide.
        </div>
    }
    </div>



