﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accès refusé";
}

<style>
    .erreur-container {
        text-align: center;
    }

    .erreur-image {
        max-width: 300px;
        margin-bottom: 20px;
    }
</style>

<div class="erreur-container">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Vous ne possédez pas les droits pour accéder à cette page ou action !</p>
    <img src="~/images/stop.png" class="erreur-image" alt="Access Denied">
</div>
